/*---------------------*/

[class*="__container"] {
   max-width: 1097px;
   margin: 0 auto;
   padding: 0 15px;
   border: 1px solid #000;
}

/*------ PC ------*/

@media (max-width: 1067px) {
   [class*="__container"] {
      max-width: 970px;
   }
}

/*------ TABLET ------*/
@media (max-width: 991.98px) {}

/*------ Mobile ------*/
@media (max-width: 767.98px) {
   [class*="__container"] {
      max-width: none;
   }
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}


/*------------------*/

.header {}

.header__container {
   display: flex;
   align-items: center;
   min-height: 114px;
   flex: 0 1 auto;
}

.header__logo {
   /* border: 1px solid #000; */
   padding-left: 30px;
}

.header__menu {
   display: flex;
   justify-content: end;
   flex: 1 1 auto;
}

.menu {
   display: flex;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 1;

}

.menu__items {
   display: flex;
   justify-content: end;

}

.menu__item {
   margin-right: 39px;
}


.menu__link {
   font-size: 10px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: 0.5px;

}

.header__button {
   display: flex;
   flex: 0 1 252px;
   justify-content: flex-end;
}

@media (max-width: 991.98px) {}

.button {
   display: inline-block;
   border: 1px solid #000;
   padding: 14px 30px;
   color: #fff;
   font-family: 'Raleway';
   text-transform: uppercase;
   font-weight: 800;
   font-size: 10px;
   line-height: 12px;
   border-radius: 5px;
   transition: background-color 0.3s ease 0s;
}

.header__button_color {
   background-color: #4285F4;
}

.header__button_color:hover {
   background-color: #5682c8;
   ;
}

@media (max-width: 991.98px) {
   [class*="__container"] {
      max-width: 750px;
   }

   .header__logo {
      padding-left: 0;
   }

   .menu__item {
      margin-right: 20px;
   }

   .header__button {
      flex: 0 0 auto;
   }
}

/*_________________________ BODY __________________________*/

.main {}

.get-started {}

.get-started__container {
   display: flex;
   flex: 1 1 auto;
   flex-wrap: wrap;

}

.get-started__content {
   display: flex;
   flex: 1 1 46%;
   padding: 134px 0 0 5px;

}

.get-started__block-text {
   display: flex;

}

.text-block {
   display: flex;
   flex-direction: column;
   font-weight: 700;
}

.block-text__title {
   font-size: 44px;
   line-height: 1.26;
}

.block-text__title span {
   color: #4285F4;
}

.block-text__text {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.38;
   letter-spacing: 0.08em;
   color: #616161;
   max-width: 70%;
   padding: 10px 0 0 5px;
}

.block-text__button {
   padding: 25px 0 0 98px;
}

.block-text__button_color {
   background: #EC5863;
}

.get-started__image {
   border: 1px solid rgb(76, 21, 228);
   padding: 5px;
   max-width: 54%;
   padding: 32px 0 0 0;
}

.get_started__video {
   display: flex;
   justify-content: start;
   flex: 1 1 100%;
   padding: 55px 0 0 57px;
}

.video-get-started {
   border: 1px solid rgb(19, 30, 237);

}

.video-get-started__icon {
   border: 1px solid #000;
   display: flex;
   flex: 0 1 100%;
}

.video-get-started__body {
   border: 1px solid red;
   padding: 5px 0 0 10px;
}

.video-get-started__title {
   font-weight: 400;
   font-size: 13px;
   line-height: 1.26;
   letter-spacing: 0.08em;
   color: #B0B0B0;
}

.video-get-started__text {
   font-size: 9px;
   line-height: 126%;
   letter-spacing: 0.165em;
   text-transform: uppercase;
   padding-top: 5px;
}

.fotter {}
