/*---------------------*/

[class*="__container"] {
   max-width: 1087px;
   margin: 0 auto;
   padding: 0 15px;
}

/*------ PC ------*/
@media (max-width: 1087) {
   [class*="__container"] {
      max-width: 970px;

   }
}

/*------ TABLET ------*/
@media (max-width: 991.98) {
   [class*="__container"] {
      max-width: 750px;

   }
}

/*------ Mobile ------*/
@media (max-width: 767.98) {
   [class*="__container"] {
      max-width: none;
   }
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}


/*------------------*/

.header {}

.header__container {
   display: flex;
   flex: 1 1 auto;
   align-items: center;
   min-height: 114px;
   border: 1px solid #000;
}

.header__logo {
   width: 341px;
}

.header__menu {
   width: 611px;
}

.menu {}

.menu__items {
   display: flex;
   flex-direction: row;
   justify-content: end;
}

.menu__item {
   font-family: Raleway;
   font-size: 10px;
   font-weight: 700;
   line-height: 12px;
   margin-left: 40px;
}

.munu__link {}

.header__button {
   /* margin: 0 0 0 122px; */
   display: flex;
   flex: 0 0 292px;
   justify-content: flex-end;

}

.button {
   display: inline-block;
   border: 1px solid #000;
   padding: 14px 3px;
   color: #fff;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 10px;
   line-height: 1.2;
   border-radius: 5px;
}

.button_color {
   width: 100%;
   height: 40px;
   background-color: blue;
}

.main {}

.fotter {}
