/*---------------------*/

[class*="__container"] {
   max-width: 1075px;
   margin: 0 auto;
   border: 1px solid #000;
   padding: 0 15px;
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   border: 1px solid #000;
}

/*------- header -----------*/
.header {}

.header__container {
   display: flex;
   flex: 1 1 100%;
   align-items: center;
   height: 114px;
}

.header__logo {
   display: flex;
   align-items: center;
   font-size: 18px;
   color: black;
   border: 1px solid #000;
   width: 200px;
   padding: 30px 37px;

}

.header__logo-text_color {
   color: red;
}

.header__logo-img {}

.header__logo-text {}

.header__menu {
   width: 611px;
}

.menu__items {
   display: flex;
   flex: 1 1 100%;
   justify-content: flex-end;
}

.menu__item {
   padding: 0 38px 0 0;
}

.menu__link {}

.header__button {
   margin-left: 122px;
   background-color: #4285F4;
}

.button {
   display: block;
   width: 140px;
}

.button_color {
   background-color: #4285F4;
}

.main {}

.fotter {}
