/*---------------------*/

[class*="__container"] {
    max-width: 1075px;
    margin: 0 auto;
}

;
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/*------------------*/

.header {
    border: 1px solid #000;
}

.header__container {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.header__logo {
    width: 341px;
    border: 1px solid #000;
}

.header__menu {
    width: 611px;
}

.menu {}

.menu__items {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: 1px solid #000;
}

.menu__item {
    font-family: Raleway;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    margin-left: 40px;
}

.munu__link {}

.header__button {
    margin: 0 0 0 122px;
}

.button {
    text-align: center;
    border: 1px solid #000;
    padding: 14px 30px;
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 40px;
    border-radius: 5px;
}

.button_color {
    width: 100%;
    height: 40px;
    background-color: blue;
}

.main {}

.fotter {}